<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="static/forgot-password.css">
    <link rel="shortcut icon" href="https://savictech.com/img/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="https://savictech.com/img/apple-touch-icon.png">
</head>
<body>
    <div class="rightside">
        <div class="login-container">
            <div class="input">
                <input type="hidden" id="emailInput" value="">
                <div>
                    <input type="password" id="newPasswordInput" placeholder="New Password">
                </div>
                <div>
                    <input type="password" id="confirmPasswordInput" placeholder="Confirm Password">
                </div>
                <div class="submit">
                    <button type="submit" class="btn btn-primary mt-3" onclick="resetPassword()">Submit</button>
                </div>
            </div>
            <div class="backward">
                <a href="login.html"> &#11160; Back to Login</a>
            </div>
        </div>
    </div>
    <div class="text">
        <h1>
            Savic: Design + Collaboration
        </h1>
        <p>
            Savic is a virtual center where designers, developers, and all design parties can perform their duties in unison, achieving results at least 200% faster. Discover a seamless workflow with Savic today.
        </p>
    </div>
    <footer id="footer">
        <span>© 2024, <a href="http://www.savictech.com" target="_blank">savic technologies pvt. ltd.</a> All Rights Reserved.</span>
    </footer>
 
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const urlParams = new URLSearchParams(window.location.search);
            const email = urlParams.get('email');
            document.getElementById('emailInput').value = email;
        });
 
        function resetPassword() {
            var email = document.getElementById('emailInput').value;
            var newPassword = document.getElementById('newPasswordInput').value;
            var confirmPassword = document.getElementById('confirmPasswordInput').value;
 
            fetch('/forgot-password/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    email: email,
                    new_password: newPassword,
                    confirm_password: confirmPassword
                }),
            })
            .then(response => response.json())
            .then(data => {
                if (data.message) {
                    alert('Password reset successfully.');
                    window.location.href = 'login.html';
                } else {
                    alert('Error resetting password.');
                }
            });
        }
    </script>
</body>
</html>